.leftBar{
    display: flex;
    padding: 10px 5px;
    position: sticky;
    background-color: white;
    top: 52px;
    height: calc(100vh - 80px);
    overflow: scroll;
    min-width: 200px;

    .container{
        padding: 20px;
        align-items: center;
        flex-direction: column;
        .menu{
            gap: 20px;            
            .menuComponent{
                display:flex;
                gap: 10px;
                align-items: center;
                img{
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

        }
    }
}