.event {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    .container{
        padding: 20px;
        .user{
            display: flex; 
            align-items: center;
            align-content: center;
            justify-content: space-between;

            .user-info{
                display: flex;
                gap: 20px;

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .details{
                    display: flex;
                    flex-direction: column;   

                    .name{
                        font-size: 20px;
                        margin-left: -5px;
                    }

                    .remaining-time{
                         font-size: 12px;
                    }
                }
            }
            .icons{
                align-items: center;
                gap: 150px;
                margin-right: 2%;
                }
        }


        .event-image{
            margin-top: 2.5%;
            width: 100%;
            border-radius: 20px;
            background-size: cover;
        }
        .title{
            font-weight: bold;
            margin-top: 2%;
            margin-left: 3%;
        }
        .description{
            margin-left: 5%;
            margin-top: 1%;
            margin-bottom: 2%;
        }

        .additional-info{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;

            font-size: 12px;

            margin-top: 2%;
            margin-bottom: 1.2%;

            .available-slots{
                font-weight: 500px;
            }
        }

        .join-comments{
            display: flex;
            flex-direction: row;
            margin-top: 2.1%;
            justify-content: space-evenly;
            align-items: center;
            .green-button {
                background-color: #28a745; /* Bootstrap's success color */
                color: #fff; /* Text color */
                border: none; /* Remove border */
                padding: 10px 20px; /* Adjust padding */
                border-radius: 5px; /* Adjust border radius */
                cursor: pointer; /* Show pointer cursor on hover */
              
                &:hover {
                  background-color: #218838; /* Darker shade of green on hover */
                }
              }
            .comments{
                display: flex;
                flex-direction: row;

                gap: 10px;
            }
        }

    }
}
