.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 25px;
    height: 40px;
    background-color:hsl(0, 0%, 100%);
    border-bottom: 2px solid hsl(0, 0%, 75%);
    position: sticky;
    top: 0px;
    background-color: white;


    .left{
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            max-width: 100px;
            height: auto;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    
    .search{
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid hsl(300, 3%, 46%);
        border-radius: 5px;
        padding: 3px;
        min-width: 600px;
        margin-left: 8.32%;
        input{
            border: none;
            width: 400px;
        }
    }

    .right{
        display:flex;
        align-items: center;
        gap: 10px;
        .user{
            display:flex;
            gap: 10px;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover ;
            }
            span{
                font-style: italic;
                font-stretch: expanded;
            }
        }
    }
}