.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 25px;
    height: 20px;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 2px solid purple;
    border-radius: 8%;


    .left{
        display: flex;
        align-items: center;
        gap: 10px;
        span{
            font-weight: bold;
            font-size: 20px;
            color: purple;
        }
        .search{
            display: flex;
            align-items: center;
            gap: 5px;
            border: 1px solid hsl(300, 3%, 46%);
            border-radius: 5px;
            padding: 3px;
        }
        input{
            border: none;
            width: 400px;
        }
    }

    .right{
        display:flex;
        align-items: center;
        gap: 10px;
        .user{
            display:flex;
            gap: 10px;
            align-items: center;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover ;
            }
            span{
                font-style: italic;
                font-stretch: expanded;
            }
        }
    }
}