.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 15px ;
    height: 20px;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 2px solid purple;
    border-radius: 8%;


    .left{
        display: flex;
        align-items: center;
        span{
            font-weight: bold;
            font-size: 20px;
            color: purple;
        }
        .search{
            display: flex;
            align-items: center;
            gap: 15px;
            border: 1px solid hsl(300, 3%, 46%);
            border-radius: 5px;
            padding: 3px;
        }
        input{
            border: none;
            width: 400px;
        }
    }

    .right{
        display:flex;
        align-items: center;
        user{
            img{}
            span{}
        }
    }
}